<!DOCTYPE html>
<html ng-app="WeatherApp">

<head>
    <!-- bower:css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->
    <meta charset="utf-8">
    <title></title>
</head>

<body ng-controller="WeatherController as weatherCtrl">
    <div id="MainContainer">
        <header class="page-header" align="center">
            <h1>Weather Application</h1>
        </header>
        <div id="SearchBar">
            <button class="btn btn-primary" type="button" ng-click="weatherCtrl.APIcall('SanDiego')">SD</button>
            <button class="btn btn-primary" type="button" ng-click="weatherCtrl.APIcall('NewYork')">NY</button>
            <button class="btn btn-primary" type="button" ng-click="weatherCtrl.APIcall('Tokyo')">Tokyo</button>
            <button class="btn btn-primary" type="button" ng-click="weatherCtrl.APIcall('London')">London</button>
            <label>Enter City name to see the Weather</label><br>
            <input type="text" ng-model="weatherCtrl.citySearch">
            </input>
            <button type="button" ng-click="weatherCtrl.APIcall(weatherCtrl.citySearch)">Check Weather</button>
        </div>
        <div id="cityAndSearchContainer" class="row">
            <div id="cityContainer" class="col-md-6">

                <div id="currentCity">
                    <h3>Current City</h3> {{weatherCtrl.currentCity.name}}
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <label>Temperature</label>
                        <p>{{weatherCtrl.currentCity.main.temp}}</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label>pressure</label>
                        <p>{{weatherCtrl.currentCity.main.pressure}}</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label>Humidty</label>
                        <p>{{weatherCtrl.currentCity.main.humidity}}</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label>Low Temp</label>
                        <p>{{weatherCtrl.currentCity.main.temp_min}}</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label>Hi Temp</label>
                        <p>{{weatherCtrl.currentCity.main.temp_max}}</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <label>Wind Speed</label>
                      <p>{{weatherCtrl.currentCity.wind.speed}}</p>
                    </div>
                </div>

            </div>
            <div id="SearchContainer" class="col-md-6">
                <ul><label>Search History</label>
                    <li ng-repeat="item in weatherCtrl.searchHistory">
                      {{item.city}} {{item.date}}
                    </li>
                </ul>
            </div>
        </div> <!-- closes cityAndSearchContainer -->
    </div> <!-- closes main container -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower  -->

    <!-- inject:js -->
    <script src="app/app.module.js"></script>
    <script src="app/weather/weather.controller.js"></script>
    <script src="app/weather/weather.controller.js"></script>
    <!-- endinject -->
</body>

</html>
